{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="column left">
    <img src="https://drive.google.com/uc?id=1I5jVGRkTIcLvSYFQousXppv4L5TiJcIh" alt="logo" width=200 align="left">
  </div>
  <div class="column right">
    <h1>Order completed</h1>
  </div>
</div>
<div class="row">
  <div class="column image">
    <img src="https://drive.google.com/uc?id=1FkJkCS0RUEwZe04cP8tdNJSh8QS9jnBh" alt="step" width=120 align="middle">
  </div>
  <div class="column right">
    <h3> Order receipt </h3>
    <table >
      <tr><td> <strong>Name:</strong> {{ name }}</td></tr>
      <tr><td> <strong>Order date:</strong> {{ date }}</td></tr>
      <tr>
        <td>
          <strong>Order type:</strong> {{ type }}
        </td>
        <th>
          {{ delay_msg }}
        </th>
      </tr>
      <tr><td>{{ addr }}</td></tr>
      <tr><td><strong>Customer phone number:</strong> {{ phone }}</td></tr>
      {{ bill }}
    </table>
    <div> Additional information regarding this order: </div>
    <p>
        {{ message }}
    </p>
  </div>
</div>



<a href="{{ url_for('home') }}">Start a new order</a>
{% endblock %}
