{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="column left">
    <img src="https://drive.google.com/uc?id=1I5jVGRkTIcLvSYFQousXppv4L5TiJcIh" alt="logo" width=250 align="left">
  </div>
  <div class="column right">
    <h1>Pizza menu</h1>
  </div>
</div>
<div class="row">
  <div class="column left">
    <img src="https://drive.google.com/uc?id=1ecuXvHfvQp5GHCBUVnihZB2RI5V12IHo" alt="step" width=100 align="middle">
  </div>
  <div class="column right">
    <table>{{ menu }}</table>
  </div>
</div>
<div class="row">
  <div class="column right">
    <p> Please separate pizza numbers by a coma.</p>
    <form method="post" action="{{ url_for('message') }}">
            <p><label>Selection:</label> <input type="text" name="customer_selection" required></p>
            <p><button type="submit">Send</button><input type="reset"></p>
    </form>
  </div>
</div>

{% endblock %}
