{% extends "layout.html" %}
{% block content %}

    <div class="row">
      <div class="column left">
        <img src="https://drive.google.com/uc?id=1I5jVGRkTIcLvSYFQousXppv4L5TiJcIh" alt="logo" width=200 align="left">
      </div>
      <div class="column right">
        <h1>KEIO</h1>
        <h1>Randomizing Ordering Script</h1>
      </div>
    </div>
    <div class="row">
      <div class="column image">
        <svg
           xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           width="70mm"
           height="99mm"
           viewBox="0 0 210 297"
           version="1.1"
           id="svg8"
           inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
           sodipodi:docname="script_step1.svg">
          <defs
             id="defs2">
            <inkscape:path-effect
               effect="spiro"
               id="path-effect4754"
               is_visible="true" />
            <inkscape:path-effect
               is_visible="true"
               id="path-effect4748"
               effect="spiro" />
            <inkscape:path-effect
               effect="spiro"
               id="path-effect4744"
               is_visible="true" />
            <linearGradient
               id="linearGradient4557"
               osb:paint="solid">
              <stop
                 style="stop-color:#ffffff;stop-opacity:1;"
                 offset="0"
                 id="stop4555" />
            </linearGradient>
          </defs>
          <sodipodi:namedview
             id="base"
             pagecolor="#ffffff"
             bordercolor="#666666"
             borderopacity="1.0"
             inkscape:pageopacity="0.0"
             inkscape:pageshadow="2"
             inkscape:zoom="0.49497475"
             inkscape:cx="460.79095"
             inkscape:cy="348.47893"
             inkscape:document-units="mm"
             inkscape:current-layer="layer1"
             showgrid="false"
             inkscape:window-width="1920"
             inkscape:window-height="1001"
             inkscape:window-x="-9"
             inkscape:window-y="-9"
             inkscape:window-maximized="1" />
          <metadata
             id="metadata5">
            <rdf:RDF>
              <cc:Work
                 rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
             inkscape:label="Calque 1"
             inkscape:groupmode="layer"
             id="layer1">
            <path
               style="opacity:1;fill:none;stroke:#228c22;stroke-width:4.48699999;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               clip-path="none"
               d="m 134.65403,80.604301 v 27.152189 c 0,3.324 -2.7705,6 -6.0945,6 H 66.098213 c -3.324,0 -6.000001,-2.676 -6.000001,-6 V 34.145255 c 0,-3.323982 2.676001,-5.964527 6.000001,-5.964527 v 0 h 7.548528"
               id="path4594"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="csssssccc" />
            <path
               style="opacity:1;fill:none;stroke:#228c22;stroke-width:4.48699999;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               clip-path="none"
               d="m 120.32814,28.180728 h 8.23139 c 3.324,0 5.90552,2.640545 5.90552,5.964527 v 8.707229"
               id="path4587"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cssc" />
            <rect
               style="opacity:1;fill:none;stroke:#228c22;stroke-width:4.82052326;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"
               id="rect4517"
               width="10.47013"
               height="10.016371"
               x="74.763504"
               y="48.745277"
               ry="0" />
            <rect
               ry="0"
               y="69.53392"
               x="74.763504"
               height="10.016371"
               width="10.47013"
               id="rect4519"
               style="opacity:1;fill:none;stroke:#228c22;stroke-width:4.82052326;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1" />
            <rect
               style="opacity:1;fill:none;stroke:#228c22;stroke-width:4.82052326;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:5;stroke-dasharray:none;stroke-opacity:1"
               id="rect4521"
               width="10.47013"
               height="10.016371"
               x="74.763504"
               y="90.511574"
               ry="0" />
            <path
               style="fill:none;stroke:#228c22;stroke-width:4.06500006;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 95.796408,49.312198 H 119.60891"
               id="path4523"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4525"
               d="M 95.559678,57.627683 H 114.21711"
               style="fill:none;stroke:#228c22;stroke-width:4.06500006;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path
               style="fill:none;stroke:#228c22;stroke-width:4.06500006;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 95.170297,74.636604 H 106.71461"
               id="path4529"
               inkscape:connector-curvature="0" />
            <path
               style="fill:none;fill-opacity:1;stroke:#228c22;stroke-width:4.06500006;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 138.1503,48.178274 -28.72619,38.364584 -2.45684,10.58333 10.01637,-5.48065 31.75,-43.656251 -6.80357,-4.346726 2.64583,-4.346726 7.18155,4.535716"
               id="path4533"
               inkscape:connector-curvature="0" />
            <path
               style="fill:none;fill-opacity:1;stroke:#228c22;stroke-width:4.06500006;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 80.697917,22.901128 V 36.413773 H 113.48735 V 22.901128 h -9.73289 c 0,0 -1.439,-5.595287 -6.803572,-5.575157 -5.364572,0.0201 -6.614579,5.575157 -6.614579,5.575157 z"
               id="path4535"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccczcc"
               clip-path="none" />
            <rect
               y="206.15366"
               x="42.593357"
               height="30.937019"
               width="29.972076"
               id="rect4635"
               style="opacity:1;fill:#a6a6a6;fill-opacity:1;stroke:none;stroke-width:3.61437273;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 46.484224,210.35127 H 67.20204"
               id="path4637"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4639"
               d="M 46.484224,215.58384 H 67.20204"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 46.484224,221.47048 h 6.1434"
               id="path4641"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4643"
               d="M 46.484224,227.35712 H 62.555123"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 46.484224,232.80771 H 67.20204"
               id="path4645"
               inkscape:connector-curvature="0" />
            <rect
               y="212.0403"
               x="52.520851"
               height="30.937019"
               width="29.972076"
               id="rect4649"
               style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#a6a6a6;stroke-width:1.22975004;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#a6a6a6;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 56.411718,216.23792 H 77.129534"
               id="path4651"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4653"
               d="M 56.411718,221.47048 H 77.129534"
               style="fill:none;stroke:#a6a6a6;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#a6a6a6;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 56.411718,227.35712 h 6.1434"
               id="path4655"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4657"
               d="M 56.411718,233.24376 H 72.482617"
               style="fill:none;stroke:#a6a6a6;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#a6a6a6;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 56.411718,238.69435 H 77.129534"
               id="path4659"
               inkscape:connector-curvature="0" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:1;stroke:none;stroke-width:3.61437273;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect4615"
               width="29.972076"
               height="30.937019"
               x="62.448357"
               y="217.92694" />
            <path
               inkscape:connector-curvature="0"
               id="path4617"
               d="M 66.339222,222.12456 H 87.057038"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 66.339222,227.35712 H 87.057038"
               id="path4619"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4621"
               d="m 66.339222,233.24376 h 6.1434"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 66.339222,239.1304 H 82.410121"
               id="path4623"
               inkscape:connector-curvature="0" />
            <path
               inkscape:connector-curvature="0"
               id="path4625"
               d="M 66.339222,244.58099 H 87.057038"
               style="fill:none;stroke:#ffffff;stroke-width:1.32286131;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               sodipodi:nodetypes="cc" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:none;stroke-width:1.43104374;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect4685"
               width="4.2244678"
               height="11.337232"
               x="115.22097"
               y="272.83685" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:#ffffff;stroke-width:0.3747161;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-0"
               width="4.2244678"
               height="21.366322"
               x="119.44543"
               y="262.80777" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:none;stroke-width:0.37925807;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-7"
               width="4.2244678"
               height="16.787823"
               x="123.6699"
               y="267.38626" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:#ffffff;stroke-width:0.40878117;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-73"
               width="4.2244678"
               height="11.337232"
               x="127.89434"
               y="272.83685" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:none;stroke-width:0.38720661;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-5"
               width="4.2244678"
               height="24.200628"
               x="132.1188"
               y="259.97345" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:#ffffff;stroke-width:0.43489775;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-51"
               width="4.2244678"
               height="17.877941"
               x="136.34326"
               y="266.29617" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:none;stroke-width:0.34065101;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-79"
               width="4.2244678"
               height="11.337232"
               x="140.56772"
               y="272.83685" />
            <rect
               style="opacity:1;fill:#a6a6a6;fill-opacity:0.5;stroke:#ffffff;stroke-width:0.3099924;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.5"
               id="rect4685-6"
               width="4.2244678"
               height="6.7587342"
               x="110.99648"
               y="277.41534" />
            <path
               style="fill:none;stroke:#a6a6a6;stroke-width:0.30090836;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 111.97405,279.01807 c 0,0 4.21661,-1.57744 5.46372,-5.71542 0.80162,-2.65976 3.04804,-9.26711 4.21514,-9.71714 2.01693,-0.77772 3.79161,11.93972 7.1601,11.91367 3.36849,-0.0261 3.30577,-15.5257 5.53904,-14.67384 1.58751,0.60555 1.46289,7.2913 3.9848,8.99755 2.45229,1.65914 4.61606,6.96411 4.61606,6.96411"
               id="path4738"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="csszssc" />
            <path
               style="fill:none;stroke:#a6a6a6;stroke-width:2.45836449;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 106.56075,252.77868 v 32.37652 h 42.66712"
               id="path4607"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccc" />
            <path
               style="fill:none;stroke:#a6a6a6;stroke-width:3.25321698;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 112.08497,223.39106 v 20.96658"
               id="path4742"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect4744"
               inkscape:original-d="m 112.08497,223.39106 c 2.9e-4,6.98855 2.9e-4,13.97741 0,20.96658"
               sodipodi:nodetypes="cc" />
            <path
               sodipodi:nodetypes="cc"
               inkscape:original-d="m 122.23832,233.87435 c -6.7686,-0.16841 -13.5375,0.16904 -20.3067,0"
               inkscape:path-effect="#path-effect4748"
               inkscape:connector-curvature="0"
               id="path4746"
               d="m 122.23832,233.87435 h -20.3067"
               style="fill:none;stroke:#a6a6a6;stroke-width:3.25321698;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path
               style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:2.96933794;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 89.142158,129.42186 V 167.5658 H 74.568077 L 99.281099,196.50658 122.40937,167.5658 H 108.4687 v -38.14394 z"
               id="rect4750"
               inkscape:connector-curvature="0" />
          </g>
        </svg>
      </div>
      <div class="column right">
        <p> Fill in the following information:</p>
        <form method="post" action="{{ url_for('random') }}">
            <p><label>Script start date and time:</label> <input type="datetime-local" name="start_date" placeholder="{{ now }}" required></p>
            <p><label>Script end date and time:</label> <input type="datetime-local" name="end_date" placeholder="{{ now }}" required></p>
            <p><label>Number of desired orders in this time range:</label> <input type="number" name="nb_orders" required></p>
            <p><label>Maximum items per order:</label> <input type="number" name="max_items" required></p>
            <p><label>Define the normal delivery charge:</label> <input type="number" name="delivery_charge" required></p>
            <p><label>GPS Coordinate of the desired delivery area (at least 4):</label> <textarea name="area_limits" required></textarea></p>
            <p><label>Select a seed number (with a given seed, the parameters produce the same outputs):</label> <input type="number" name="seed" required></p>
            <p><button type="submit">Send</button><input type="reset"></p>
        </form>
      </div>
    </div>
{% endblock %}
